<%- include('../../shared/includes/head',{pageTitle: 'ALL YOUR ORDERS'}) %>
</head>
<body>
    <%- include('../../shared/includes/header')%>
    <main>
        <h1>All YOUR ORDERS</h1>
    </main>

<%- include('../../shared/includes/footer') %>