<%- include('../../shared/includes/head',{pageTitle: 'ALL PRODUCTS'}) %>
</head>
<body>
    <%- include('../../shared/includes/header')%>
    <main>
        <h1>All products</h1>
        <p>A list of all products</p>
    </main>

<%- include('../../shared/includes/footer') %>